<div class="popup-content-block">
<h2>product name 07 on two lines</h2>
<div class="zoom-block zoomer_wrapper zoomer_basic zoomer-element">
<img class="zoomer-image" src="{{ 'zoom-product.jpg' | asset_url }}" alt="img">
</div>

<div class="zoomer sz-zoomer-controls">
	<div class="zoomer-controls zoomer-controls-bottom">
		<div class="clear_fix">
		    <span class="button small inline zoomer_custom_zoom_in zoomer-zoom-in">In</span>
		    <span class="button small inline zoomer_custom_zoom_out zoomer-zoom-out">Out</span>
		</div>      
	</div>
</div>

<div class="back-btn-block">
<a href="#" class="sz-button-back">Back</a>
</div>
</div>