<div class="popup-content-block">
<h2>size guide</h2>
<div class="row">
<div class="product-info-text">
  <p>Dress lengths are measured from high shoulder point to front hem and are measured on a standard size 8 garment. </p>
<p>When choosing your size from our collection, please refer to the measurement chart to determine your closest size.</p>
<p>Please measure around your body with a tape measure. The measure tape should not be pulled tight.</p>
<p>If you are unsure or are varying sizes, please email our boutique <a href="mailto:enquiries@suzannah.com" title="mailto:enquiries@suzannah.com">enquiries@suzannah.com</a> we can help advise you.</p>
<p>If you would prefer to try one of our stock dresses to double check your size we can send you one using your order value as a deposit against the stock dress. Please email us for more details at <a href="mailto:enquiries@suzannah.com" title="mailto:enquiries@suzannah.com">enquiries@suzannah.com</a>.</p>
</div>
<span class="scroll-info"><img src="{{ 'scroll-info-img.jpg' | asset_url }}" alt="scroll-img"></span>
<div class="size-guide-table">
<table width="100%" border="0">
  <thead>
    <tr>
    <th>UK</td>
    <th>US</td>
    <th>EU</td>
    <th colspan="2" style="text-align:center;">Bust</th>
    <th colspan="2" style="text-align:center;">Waist</th>
    <th colspan="2" style="text-align:center;">Hip</th>
  </tr>
  </thead>
  <tbody>
   <tr>
    <td>06</td>
    <td>02</td>
    <td>34</td>
    <td style="text-align:center;">83.5cm</td>
    <td style="text-align:center;">33 Inch</td>
    <td style="text-align:center;">63.5cm</td>
    <td style="text-align:center;">25 Inch</td>
    <td style="text-align:center;">89.5cm</td>
    <td style="text-align:center;">35 Inch</td>
  </tr>
	<tr>
	 <td>08</td>
	 <td>04</td>
	 <td>36</td>
	 <td style="text-align:center;">86cm</td>
	 <td style="text-align:center;">34 Inch</td>
	 <td style="text-align:center;">66cm</td>
	 <td style="text-align:center;">26 Inch</td>
	 <td style="text-align:center;">82cm</td>
	 <td style="text-align:center;">36 Inch</td>
 </tr>
 <tr>
	<td>10</td>
	<td>06</td>
	<td>38</td>
	<td style="text-align:center;">91cm</td>
	<td style="text-align:center;">36 Inch</td>
	<td style="text-align:center;">71cm</td>
	<td style="text-align:center;">28 Inch</td>
	<td style="text-align:center;">97cm</td>
	<td style="text-align:center;">38 Inch</td>
</tr>
<tr>
 <td>12</td>
 <td>08</td>
 <td>40</td>
 <td style="text-align:center;">96cm</td>
 <td style="text-align:center;">38 Inch</td>
 <td style="text-align:center;">76cm</td>
 <td style="text-align:center;">30 Inch</td>
 <td style="text-align:center;">102cm</td>
 <td style="text-align:center;">40 Inch</td>
</tr>
<tr>
 <td>14</td>
 <td>10</td>
 <td>42</td>
 <td style="text-align:center;">101cm</td>
 <td style="text-align:center;">40 Inch</td>
 <td style="text-align:center;">81cm</td>
 <td style="text-align:center;">32 Inch</td>
 <td style="text-align:center;">107cm</td>
 <td style="text-align:center;">42 Inch</td>
</tr>
<tr>
 <td>16</td>
 <td>12</td>
 <td>44</td>
 <td style="text-align:center;">106cm</td>
 <td style="text-align:center;">42 Inch</td>
 <td style="text-align:center;">86cm</td>
 <td style="text-align:center;">34 Inch</td>
 <td style="text-align:center;">112cm</td>
 <td style="text-align:center;">44 Inch</td>
</tr>
<tr>
 <td>18</td>
 <td>14</td>
 <td>46</td>
 <td style="text-align:center;">111cm</td>
 <td style="text-align:center;">44 Inch</td>
 <td style="text-align:center;">91cm</td>
 <td style="text-align:center;">36 Inch</td>
 <td style="text-align:center;">117cm</td>
 <td style="text-align:center;">46 Inch</td>
</tr>
  </tbody>
</table>
</div>
</div>
</div>
