<div class="popup-content-block">
  <h2>Terms & conditions</h2>
  <div class="row">
    <p>Your custom design tea dress will be shipped within approximately 4 weeks from the date of your order. Upon confirmation, we will send you a swatch of your chosen print to the address you provide with your order, to re-confirm your purchase. Once approved by you via email or WhatsApp we will then choose tonal shades for both the lining and zip.</p>

    <p>We have tried to be as accurate as possible with our illustrations in this graphic tool. However please rely on your actual swatch for the confirmation of colour and scale of print.</p>

    <p>All the dresses are cut individually, so the exact print placement will differ with each dress made. We will use our expertise to gain the best print placement possible for your dress.</p>

    <p>If you would like further clarity on your sizing please let us know and we can send you one of our stock dresses to try on before we start making your custom dress, as once the manufacturing process is underway, it is non-refundable. We will use your order value as a deposit for the stock dress.</p>

    <p>If you wish to cancel or change your order please let us know once your print swatch and/or stock trial size dress has arrived. At this point we are able to offer you a full refund.</p>

    <p>Once we have your approval of cloth, and size if necessary, we will schedule the production of your dress. From this point onwards your order in non-refundable.</p>

    <p><b>Once the fabric has been cut into your selected size and design we are unable to make any changes to the dress or offer you a refund.</b></p>


    <span class="custom-check">
    <input id="checkbox1" type="checkbox" name="checkbox" value="1" class="sz-terms"><label for="checkbox1"><span></span>I agree to the terms and conditions</label>
    </span>
    <div class="sz-error-add-cart add-cart-error"></div>
    <a href="#" class="btn-custom disable sz-button-add-cart"><span>£1350</span> - ADD TO CART</a>
    <a href="#" class="btn-custom hide sz-button-cart-text">ADDING TO CART...</a>
    <a href="#" class="cancel-btn sz-button-add-cart-confirm-canel">CANCEL</a>
  </div>
</div>
