<div class="popup-content-block">
<h2>Custom Design Your Own Tea Dress</h2>
<div class="row">
<div class="img-block"><img src="{{ 'help-popup-img.jpg' | asset_url }}" alt="img"></div>
<div class="content-block">
<p>We are now offering you the chance to custom design your very own version of our signature tea dress.</p>
<p><span>Step 1 - Design Your Dress</span>
Select your preferred neckline, sleeve style and skirt length to create your perfect dress. </p>
<p><span>Step 2 - Choose Your Favourite Print</span>
By clicking on each print you can easily preview each one on your chosen dress design. There is also the option to zoom in  as well as see a close up of the print detail. Many prints only have enough cloth for one or two dresses so please be aware stocks are limited. </p>
<p><span>Step 3 - Choose Your UK Size</span>
Please see our size chart for both the body measurements as well as the US and EU size conversions. If you would prefer to double check your size before we make your dress we can send you one of our stock dresses to try.</p>
<p class="highlight">Once all the steps are completed your bespoke tea dress is ready. Click the link to share your design with a friend, or simply add to cart to either continue shopping or complete your order. </p>
<p>If you are experiencing difficulties using this tool or would like any help or advice please email <a href="mailto:enquiries@suzannah.com">enquiries@suzannah.com</a> or telephone <a href="tel:+44(0)7496835006">+44 (0) 7496 835 006</a> during our boutique opening hours.</p>
</div>
</div>
</div>
