<div class="popup-content-block">
<h2>product information</h2>
<div class="row">
<div class="product-info-text">
<p><span>Product Composition</span></p>
<ul>
<li>- Outer: 100% Silk (Silk crepe de chine or silk satin, depending on your choice of print)</li>
<li>- Lining: 100% Silk Habotai</li>
<li>- Specialist Dry Clean Only</li>
<li>- Made in London</li>
</ul>
<p><span>Product Information</span></p>
<p>Based on our best selling 1930's silk tea dress block, this signature style is beautifully flattering with unique charm and versatility.

This dress can easily be styled with cashmere and sneakers for day, or with stunning millinery and heels for special events.</p>
<p>There is an invisible centre back zip for step-in ease and the dress is lined from the empire seam to the hemline in Italian silk Habotai.</p>
<p>Both the silk crepe de chine and silk satin are printed and finished in Italy. The cloth is printed digitally with our exclusive designs, based on vintage Parisian artworks.</p>
<p>Sustainable attributes: Timeless Design; Natural Fibres; High Quality Italian Silk; Digitally Printed in Italy; Made in London.</p>
</div>
</div>
</div>
