<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=SCutT8"></script>
<div class="popup-overlay notifyme">
    <a class="close-btn product-close" href="#"><img src="{{ "close.svg" | asset_url }}" alt="close"></a>
    <div class="notifyme-form">
          <div class="klaviyo-form-TRKMLG"></div>
          <input type="hidden" name="contact[subject]" value="Notify me when PRODUCT {{ product.title }} - {{ current_variant.title }} is back in stock" />
      </div>
</div>
