<!--herobanner-->
<div class="hero-banner relative clearfix">
<img src="{{ 'hero-img.jpg' | asset_url }}" alt="banner">
<div class="bnr-text center-bottom">
<h1>Explore New Collection</h1>
</div>
</div>
<!--herobanner-->

<!--homeimageblock-->
<!-- <div class="home-feature-block d-block clearfix">
<div class="container">
<div class="row">
<div class="col-12 col-sm-12 col-md-3 mr-auto">
<div class="hf-content">
<h2>Featured (Block A Left)</h2>
<a href="#" class="btn btn-border">Shop Now</a>
</div>
</div>
<div class="col-12 col-sm-12 col-md-8">
<div class="home-img-block"><img src="{{ 'home-right-two-img.jpg' | asset_url }}" alt="img"></div>
</div>
</div>
</div>
</div> -->

<!-- <div class="home-feature-block d-block clearfix">
<div class="container">
<div class="row">
<div class="col-12 col-sm-12 col-md-8">
<div class="home-img-block"><img src="{{ 'home-single-img.jpg' | asset_url }}" alt="img"></div>
</div>
<div class="col-12 col-sm-12 col-md-3 ml-auto">
<div class="hf-content">
<h2>Featured (Block A Right)</h2>
<a href="#" class="btn btn-border">Shop Now</a>
</div>
</div>
</div>
</div>
</div> -->

<!-- <div class="home-feature-block center d-block clearfix">
<div class="container">
<div class="row">
<div class="col-12 col-sm-12 col-md-8 m-auto">
<div class="home-img-block"><img src="{{ 'home-single-img2.jpg' | asset_url }}" alt="img"></div>
<a href="#" class="btn btn-border">Shop Now</a>
</div>
</div>
</div>
</div> -->
<!--homeimageblock-->
{% schema %}
{
  "name": "HOME",
  "presets": [
    {
      "name": "HOME",
      "category": "homepage"
    }
  ]
}
{% endschema %}
